.mat-form-field {
  display: block;
}

.errorMessage {
  display: none;
  color: #ff0000;
  margin: 15px;
  margin-bottom: 0px;
}

.showErrorMessage {
  display: inline;
}

@media screen and (max-width: 400px) {
  .showErrorMessage {
    display: block;
  }
}
