<form [formGroup]="weatherForm">

  <mat-form-field>
    <mat-label>City</mat-label>
    <input type="text" matInput formControlName="city">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Temperature</mat-label>
    <input type="text" matInput formControlName="temperature">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Wind</mat-label>
    <input type="text" matInput formControlName="wind">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input type="text" matInput formControlName="description">
  </mat-form-field>

</form>
